<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Olá {{name}},</p>
        <p>Foi solicitada uma troca de senha em sua conta, se não foi você ignore esse email.</p>
        <p>Caso deseje trocar a senha, clique no link a seguir</p>
        <a href="http://{{link}}">Trocar Senha</a>
    </body>
</html>